doctype html
html
  head
    title
  body
  form(action"/users/:name",method="POST")
    p
        input#username(name="username" placeholder="#{user.username}")
    p
        input#name(name="name" placeholder="#{user.name}")
    p
        input#profession(name="profession" placeholder="#{user.profession}")
    p
        input#email(name="email" placeholder="#{user.email}")
    p
        input#gender(name="gender" placeholder="#{user.gender}")
    p
        input(name="_method",type="hidden",value="PUT")
    p
        input(type="submit",value="UPDATE")