extends ../layout

block content
    h1=title
        if (!search)
            a.btn.btn-default(href="/events/new", style="margin-bottom: 10px; margin-left: 10px;") <i class="fa fa-plus"></i>
    if (messages)
        if (messages.length > 0)
            .alert.alert-dismissable.alert-danger
                button.close( type="button", data-dismiss="alert" ) x 
                | #{messages}
    - for(var event in eventslist) {
    - if (event % 4 === 0 || event == 0) {
    .row
    - }
        .col-md-3
            div(style="background-image: url('"+eventslist[event].pictureUrl+"')", class="posterimg")
            p 
                h3.title 
                    =eventslist[event].name
                p
                    =eventslist[event].location
                    |, 
                    =eventslist[event].city
                b 
                    i
                        .description
                            =eventslist[event].description
            a.btn.btn-default(href="/events/#{eventslist[event]._id}") <i class="fa fa-eye fa-fw"></i>
            - if (currentuser.admin ==true) {
                a.btn.btn-info(href="/events/#{eventslist[event]._id}/edit", style="margin-left: 5px;") <i class="fa fa-pencil fa-fw"></i>
                a.btn.btn-danger(href="/events/#{eventslist[event]._id}/delete", style="margin-left: 5px;") <i class="fa fa-trash fa-fw"></i>
            - }
    - };