extends ../layout

block content
    h1=title
        a.btn.btn-default(href="/tickets/new", style="margin-bottom: 10px; margin-left: 10px;") <i class="fa fa-plus"></i> 
    - for(var ticket in ticketslist) {
    - if (ticket % 4 === 0 || ticket == 0) {
    .row
    - }
        .col-md-3
            div(style="background-image: url('"+ticketslist[ticket]._event.pictureUrl+"')", class="posterimg")
            p 
                h3 
                    =ticketslist[ticket]._event.name
                p
                    =ticketslist[ticket]._event.location
                    |, 
                    =ticketslist[ticket]._event.city
                b 
                    i
                        #description
                            =ticketslist[ticket]._event.description
            p
                i 
                    =ticketslist[ticket]._user.local.firstname 
                    | 
                    =ticketslist[ticket]._user.local.lastname
            a.btn.btn-default(href="/tickets/#{ticketslist[ticket]._id}") <i class="fa fa-eye fa-fw"></i>
            #{currentuser.admin}
            - if (ticketslist[ticket]._user._id==currentuser.user) {
                a.btn.btn-info(href="/tickets/#{ticketslist[ticket]._id}/edit", style="margin-left: 5px;") <i class="fa fa-pencil fa-fw"></i>
                a.btn.btn-danger(href="/tickets/#{ticketslist[ticket]._id}/delete", style="margin-left: 5px;") <i class="fa fa-trash fa-fw"></i>
            - }
        - };