extends ../layout

block content
    .row
        .col-md-12
            h1=title
            h2 #{ticket._event.name}
            h2 #{ticket.amount}
            h3 #{ticket.price}  
            p
                #{ticket._event.tags}