doctype
html( lang="en" )
    head
        title #{title} | TicketTrade
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='TicketTrade' )
        link(href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css", rel="stylesheet")
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
        link(href="/stylesheets/bootstrap.css", rel="stylesheet")
        link(href="/stylesheets/pe-icon-7-stroke.css", rel="stylesheet")
        link(href="/stylesheets/ct-navbar.css", rel="stylesheet")   
        link(href="/stylesheets/style.css", rel="stylesheet")
        link(href='http://fonts.googleapis.com/css?family=Grand+Hotel', rel='stylesheet')
        script(src="/javascripts/jquery-1.10.2.js") 
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
        //nog weghalen hier
        block scripts
    body
    -function prettyDate(dateString){
        //if it's already a date object and not a string you don't need this line:
        -var date = new Date(dateString);
        -var d = date.getDate();
        -var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
        -var m = monthNames[date.getMonth()];
        -var y = date.getFullYear();
        -return m + " " + d + ", " + y;
    -}
        #navbar-full
            #navbar
                nav.navbar.navbar-ct-blue(role="navigation", class=title=='Welcome'?'navbar-fixed-top navbar-transparent':undefined)
                    .container
                        .navbar-header
                            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand.navbar-brand-logo(href="#")
                                .logo
                                    img(src="/images/icon.png")
                                //.brand TicketTrade
                        .collapse.navbar-collapse#bs-example-navbar-collapse-1
                            ul.nav.navbar-nav.navbar-right
                                - if (isAuthenticated) {
                                li
                                    a.hidden-xs(href="javascript:void(0);", data-toggle="search")
                                        i.pe-7s-search
                                        p Search
                                li(class=title=='Events'?'active':undefined)
                                    a(href="/events")
                                        i.pe-7s-date
                                        p Events
                                li(class=title=='Tickets'?'active':undefined)
                                    a(href="/tickets")
                                        i.pe-7s-ticket
                                        p Tickets
                                //li(class=title=='Messages'?'active':undefined)
                                    a(href="#")
                                        i.pe-7s-mail
                                        //span.label 0
                                        p Messages
                                li.dropdown(class=title=='Profile'?'active':undefined)
                                    a.dropdown-toggle(href="#", data-toggle="dropdown")
                                        i.pe-7s-user
                                        p Account
                                            b.caret
                                    ul.dropdown-menu
                                        li
                                            a(href="/trades") My tickets
                                        li
                                            a(href="/profile") Edit Account
                                        li
                                            a(href="/logout") Logout
                                - }
                                - else {
                                li(class=title=='Sign in'?'active':undefined)
                                    a(href="/login")
                                        i.pe-7s-users
                                        p Sign in
                                // li
                                //     a(href="/auth/facebook")
                                //         i.fa.fa-facebook-official.pe-fa
                                //         p Facebook
                                li(class=title=='Sign up'?'active':undefined)
                                    a(href="/signup")
                                        i.pe-7s-add-user
                                        p Sign up
                                - }
                            form.navbar-form.navbar-right.navbar-search-form(role="search", action="/events/search",method='post')
                                .form-group
                                    input.form-control(type="text", value="", placeholder="Search...", name="search")
                - if (title=="Welcome") {
                .blurred-container
                    .img-src(style="background-image: url('images/bg.jpg')")
        .main
            .container
                block content
                - }
                - else {
        .main
            .container
                block content                
                - }
        script(src="/javascripts/bootstrap.js")
        script(src="/javascripts/ct-navbar.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js")
        script.
            $( document ).ready(function() {
                $('select').select2({});
            });